когда нажимаем точку, должно показывать списочек членов (между прочим, дубликатов нам не надо)
с иконками
список должен быть возле точки
отправляем на сервер то, что нажали. если делит, то не отправляем
если спецсимвол, то ваще ничего не делаем
если нам прислали нолик или пустой список, ничего не показываем, прячем
в списке
	при наведении мышкой или курсором выделение происходит
	при дальнейшей печати выделяем нужный
	при щелчке по выделенному или нажимаем символ происходит подстава, а список закрывается

а еще надо бы раскрасить код как-то 




интеграция с GitHub & Bitbucket
