		#intel_results a
		{
			font-size: 12px;
			line-height: 1.2;
			white-space: nowrap;
		}
		#intel_results a img 
		{
			position:relative;
			top:6px;
		}
		.code
		{
			font-family: Consolas,Courier,Monospace;
			font-size: small;
			white-space: pre;
			width:560px;
			border: none;
			margin: 0px;
			padding: 4px;
			line-height: 16px;
			position: absolute;
			top: 0px; left: 0px;
		}
		.code0
		{
			margin: 0em;
			color: rgb(163, 67, 95)
		}
		.code1
		{
			color: #8ba343;
		}
		.code2
		{
			color: #a34343;
		}
		.code3
		{
			color: #4343a3;
		}
		.code4
		{
			color: #a65844;
		}
		.code5
		{
			color: #6643a3;
		}
		
		#editorDialog #code {
			width: 100%;
			height: auto;
			position: static;
		}