		#ace { 
			margin: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			font-family: droid-sans-mono, sans-serif;
		}
		.ace_autocomplete .completion {
			display: block;
			background-repeat: no-repeat;
			padding-left: 20px;
		}

		.ace_autocomplete .ace_completion_Keyword {
			background-image: url(/_content/images/Intellisense/key_16xLG.png) ;
		}
	
		.ace_autocomplete .ace_completion_Method {
			background-image: url(/_content/images/Intellisense/Method_636.png) ;
		}
		.ace_autocomplete .ace_completion_Property {
			background-image: url(/_content/images/Intellisense/PropertyIcon.png) ;
		}
		.ace_autocomplete .ace_completion_NamedType {
			background-image: url(/_content/images/Intellisense/Class_489.png) ;
		}
		.ace_autocomplete .ace_completion_Namespace {
			background-image: url(/_content/images/Intellisense/Namespace.png) ;
		}
		.ace_autocomplete .ace_completion_Field {
			background-image: url(/_content/images/Intellisense/FieldIcon.png) ;
		}