/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
		html {height: 100%}
		body {
			height: 100%;
			padding-top: 85px;
		}
		html #aboutme a {
			font-weight: 600;
			color: black;
		}

/* navbar */

.navbar .container { padding-left: 30px; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

#brand 
{
	/*margin-left:24px;*/
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}


/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}
.table thead > tr > th {
	vertical-align: top;
}

/* MISC  
----------------------------------------------------------*/
a { cursor: pointer;}
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label
{
    margin: 1em 0 0 0;
}

.display-field,
.editor-field
{
    margin:0.5em 0 0 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}


.popover li {
	color: #404040;
}


/* Project explorer */
*[data-type="file"] {
	cursor: pointer;
}

*[data-type="file"]:hover {
	background-color: #E0E0E0; 
}

/* treeview override */
.treeview ul {
	background-color: inherit;
}

#solutionBrowser { font-size: 12px; }

#solutionBrowser.filetree span.folder {
	padding-left: 18px;
}

#solutionBrowser.filetree span.folder.sln {
	background-image: url(lib/filetree/images/solution.png);
}

#solutionBrowser.filetree span.folder.csproj {
	background-image: url(lib/filetree/images/CSharpProject.png);
}

#solutionBrowser.filetree span.cs {
	background-image: url(lib/filetree/images/CSharpFile.png);
}

#solutionBrowser.filetree span.folder.vbproj {
	background-image: url(lib/filetree/images/VBProject.png);
}

#solutionBrowser.filetree span.vb {
	background-image: url(lib/filetree/images/VBFile.png);
}

.waitContainer {
	display: none;
}

/*misc*/
.well-small { padding: 10px;}


#alertContainer {position: fixed; top:200px; z-index: 4; text-align: center; width: 90%;}


/*popover*/
.popover-content ul { padding-left: 10px;}

/*janrain popup fix*/
#janrainModal, #janrainModal * { box-sizing: content-box;-moz-box-sizing: content-box;}

/*dialogs*/
.modal-dialog label { font-size: smaller;color: #404040;}

/*logs*/
#output {
    background-color: #191919;
    /*font-family: monospace;*/
	padding-left: 3px;
	height: 200px;
	overflow-y: auto;
	font-size: smaller;
	white-space: pre;
}
#output .info {
	/*color: #929292;*/
}
#output .danger {
    color: #E92E2E;
}
#output .success {
    color: #46A609;
}
