<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="0.9.1.195" />
  <package id="Bottles" version="0.9.1.201" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="elmah" version="1.2.0.1" />
  <package id="elmah.corelibrary" version="1.2.1" />
  <package id="FubuCore" version="0.9.4.113" />
  <package id="FubuCore" version="0.9.4.117" />
  <package id="FubuKayak" version="0.9.3.738" />
  <package id="FubuKayak" version="0.9.3.744" />
  <package id="FubuLocalization" version="0.9.4.113" />
  <package id="FubuLocalization" version="0.9.4.116" />
  <package id="FubuMVC.Diagnostics" version="0.9.2.673" />
  <package id="FubuMVC.Diagnostics" version="0.9.3.731" />
  <package id="FubuMVC.References" version="0.9.3.738" />
  <package id="FubuMVC.References" version="0.9.3.744" />
  <package id="FubuMVC.Spark" version="0.9.3.731" />
  <package id="FubuMVC.Spark" version="0.9.3.730" />
  <package id="FubuMVC.WebForms" version="0.9.1.596" />
  <package id="Gate" version="0.3.4" />
  <package id="Gate.Kayak" version="0.1.4" />
  <package id="HtmlTags" version="1.0.0.55" />
  <package id="jQuery" version="1.7.1" />
  <package id="Kayak" version="0.7.2" />
  <package id="LibGit2Sharp" version="0.8" />
  <package id="log4net" version="2.0.0" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" />
  <package id="Owin" version="0.7" />
  <package id="Serenity" version="0.9.3.738" />
  <package id="Spark" version="1.6" />
  <package id="Storyteller" version="1.1.0.489" />
  <package id="structuremap" version="2.6.3" />
  <package id="Twitter.Bootstrap" version="2.0.1" />
  <package id="Twitter.Bootstrap.Less" version="2.0.1" />
  <package id="WebActivator" version="1.5" />
</packages>