<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="RemoteOnly" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
      <!--<add name="SassInterceptorModule" type="SassAndCoffee.AspNet.SassInterceptorModule" />
      <add name="JavaScriptInterceptorModule" type="SassAndCoffee.AspNet.JavaScriptInterceptorModule" />-->
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="SassAndCoffeeCacheSettings" enabled="true" duration="3600" location="Any" varyByHeader="Accept-Encoding" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="uluhonolulu@gmail.com" deliveryMethod="Network">
        <!--<network host="localhost"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <!-- To prevent static content from being run thru ASP.NET, we want to set runAllManagedModulesForAllRequests="false"
			   However, UrlRoutingModel will stop working, unless you patch IIS to support extensionless routing (introduced in .NET 4)
			   Download the patch at http://support.microsoft.com/kb/980368  -->
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <!--<add name="SassInterceptorModule" type="SassAndCoffee.AspNet.SassInterceptorModule" />
      <add name="JavaScriptInterceptorModule" type="SassAndCoffee.AspNet.JavaScriptInterceptorModule" />-->
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
    </handlers>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" varyByHeaders="Accept-Encoding" location="Any" />
      </profiles>
    </caching>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
  <elmah>
    <errorMail from="uluhonolulu@gmail.com" to="uluhonolulu@gmail.com" subject="Chpokk Error {1} ({0})" priority="high" async="false" />
  </elmah>
  <appSettings>
    <remove key="SassAndCoffee.Cache" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="1b44e1d426115821" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>