ordered set bootstrap is 
"lib/bootstrap source/reset.less"
"lib/bootstrap source/variables.less"
"lib/bootstrap source/mixins.less"
"lib/bootstrap source/scaffolding.less"
"lib/bootstrap source/grid.less"
"lib/bootstrap source/layouts.less"
"lib/bootstrap source/type.less"
"lib/bootstrap source/code.less"
"lib/bootstrap source/forms.less"
"lib/bootstrap source/tables.less"
"lib/bootstrap source/sprites.less"
"lib/bootstrap source/dropdowns.less"
"lib/bootstrap source/wells.less"
"lib/bootstrap source/component-animations.less"
"lib/bootstrap source/close.less"
"lib/bootstrap source/buttons.less"
"lib/bootstrap source/button-groups.less"
"lib/bootstrap source/alerts.less"
"lib/bootstrap source/navs.less"
"lib/bootstrap source/navbar.less"
"lib/bootstrap source/breadcrumbs.less"
"lib/bootstrap source/pagination.less"
"lib/bootstrap source/pager.less"
"lib/bootstrap source/modals.less"
"lib/bootstrap source/tooltip.less"
"lib/bootstrap source/popovers.less"
"lib/bootstrap source/thumbnails.less"
"lib/bootstrap source/labels.less"
"lib/bootstrap source/progress-bars.less"
"lib/bootstrap source/accordion.less"
"lib/bootstrap source/carousel.less"
"lib/bootstrap source/hero-unit.less"
"lib/bootstrap source/utilities.less"
