ordered set jslib is
lib/jquery-1.7.1.js
lib/jquery-ui.js
lib/bootstrap.js
lib/jquery.treeview.js
lib/amplify.js
lib/jquery.form.js
lib/jquery.continuations.js
lib/jquery.continuations.amplify.js
lib/jquery.ba-hashchange.js
lib/jquery.gritter.js
demo.js requires jslib
lib/jquery.caret.1.02.js requires jslib
lib/jquery.tmpl.js requires jslib
editor.js requires lib/jquery.caret.1.02.js, lib/jquery.tmpl.js, lib/browser.js, lib/jquery.keyz.js, lib/rangy-core.js, jslib, intellisense.js
common.js requires jslib
browser.js requires jslib
lib/jquery.keyz.js requires jslib

ordered set styles is
lib/bootstrap.less
lib/jquery.treeview.css
themes/aristo/jquery-ui.scss
lib/jquery.gritter.css
Site.css