ordered set jslib is
lib/jquery-1.7.1.js
lib/jquery-ui.js
lib/bootstrap.js
lib/jquery.treeview.js
lib/amplify.js
lib/jquery.continuations.js
lib/jquery.ba-hashchange.js
demo.js requires jslib
lib/jquery.caret.1.02.js requires jslib
lib/jquery.tmpl.js requires jslib
editor.js requires lib/jquery.caret.1.02.js, lib/jquery.tmpl.js, lib/browser.js, jslib
common.js requires jslib

ordered set styles is
lib/bootstrap.less
lib/jquery.treeview.css
themes/aristo/jquery-ui.scss
Site.css