ordered set jslib is
lib/jquery-2.0.0.js
lib/jquery-ui.js
lib/bootstrap.js
lib/jquery.treeview.js
lib/amplify.js
lib/jquery.form.js
lib/jquery.continuations.js
lib/jquery.continuations.amplify.js
lib/jquery.ba-hashchange.js
lib/jquery.gritter.js
lib/bililiteRange.js
lib/jquery.sendkeys.js
lib/jqueryFileTree.js
lib/jquery.signalR-2.0.0.js
#twitter/bootstrap-transition.js
#twitter/bootstrap-modal.js


jquery is lib/jquery-2.0.0.js
jqueryui is lib/jquery-ui.js
jqueryui requires jquery

lib/jquery.caret.1.02.js requires jslib
lib/jquery.tmpl.js requires jslib
#HtmlEditor.js requires lib/jquery.caret.1.02.js, lib/jquery.tmpl.js, lib/browser.js, lib/jquery.keyz.js, lib/rangy-core.js, jslib, IntelManager.js, CodeEditor.js
common.js requires jslib
browser.js requires jslib
lib/jquery.keyz.js requires jslib
#CodeEditor.js requires lib/jquery-ui.js, lib/jquery.keyz.js, HtmlEditor.js, IntelManager.js, ace
#IntelManager.js requires jslib, lib/jquery.tmpl.js
#HtmlEditor.js requires lib/browser.js
janrain.js requires lib/URI.js
lib/jquery.iframe-transport.js requires jslib
lib/jquery.fileupload.js requires jslib, lib/jquery.iframe-transport.js
main_tour.js requires lib/bootstrap-tour.js
editor_tour.js requires lib/bootstrap-tour.js
lib/bootstrap-tour.js requires lib/bootstrap.js
ace includes lib/ace/ace.js, lib/ace/ext-language_tools.js, lib/ace/ext-modelist.js
onerror.js requires jquery, lib/jquery.continuations.js
janrain.js requires onerror.js
common.js requires lib/jquery.tmpl.js 
ace_support.js requires ace
hubs.js requires jslib, lib/jquery.signalR-2.0.0.js

ordered set styles is
#lib/bootstrap.less
#twitterstyles
lib/bootstrap.css
lib/jquery.treeview.css
themes/aristo/jquery-ui.css
lib/jquery.gritter.css
lib/bootstrap-tour.css
lib/filetree/jqueryFileTree.css
Site.css