<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <httpModules>
      <add name="CompilableFileModule" type="SassAndCoffee.AspNet.CompilableFileModule" />
    </httpModules>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="uluhonolulu@gmail.com" deliveryMethod="Network">
        <!--<network host="localhost"/>-->
      </smtp>
    </mailSettings>
  </system.net>
  <system.webServer>
    <modules>
      <!-- To prevent static content from being run thru ASP.NET, we want to set runAllManagedModulesForAllRequests="false"
			   However, UrlRoutingModel will stop working, unless you patch IIS to support extensionless routing (introduced in .NET 4)
			   Download the patch at http://support.microsoft.com/kb/980368  -->
      <remove name="CompilableFileModule" />
      <add name="CompilableFileModule" type="SassAndCoffee.AspNet.CompilableFileModule" />
    </modules>
  </system.webServer>
</configuration>